@font-face {
  font-family: 'antonio';
  src: url(Antonio-VariableFont_wght.ttf);
}
html {
  background-color: black;
}
body {
  background-image:url(w3images/vegetables.jpg);
}
body p, h1, a{
  padding:0px;
  margin:0px;
  color:white;
  text-decoration: none;
}
.nav {
  padding-top:10px;
  width:90%;
  height:10%;
  color:white;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid white;

}
.nav h3, p{
  display:inline;
  margin:0px;

}
.froggy {
  display:inline;
  padding:5px;
}

.heading {
  height:500px;
  width:800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 500px;
}
.heading h1 {
  border-bottom:1px solid white;
  font-size: 8em;
  font-family: arial, serif, sans-serif;
}
.heading p {
  font-size: 2em;
  display:block;
  font-family: monospace, arial, sans-serif;
}
.breadimg{
  background-image:url(w3images/bread.jpg);
  background-position: center;
  background-size: cover;
  height:400px;
  width:1000px;
}
.breadtext {
  background-color: black;
  width:100%;
  height:400px;
}


.horse {
  display:flex;
  flex-direction: row;
}
.mule {
  display:flex;
  flex-direction: row-reverse;
}
.breadtext p, h2 {
  color:white;
  padding:20px;
  margin:30px;
  display:block;
  font-family: 'antonio', serif, arial;
}
.pastaimg{
  background-image:url(w3images/pasta.jpg);
  background-position: center;
  background-size: cover;
  height:400px;
  width:1000px;
}
.pineimg {
  background-image:url(w3images/pineapple.jpg);
  background-position: center;
  background-size: cover;
  height:400px;
  width:1000px;
}
.centerme {
  display: flex;
  justify-content: center;

}
